[Unit]
Description=Exordos MetaPaaS Victoria dataplane agent
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=exordos-universal-agent --config-file /etc/exordos_metapaas/metapaas_victoria_agent.conf

[Install]
WantedBy=multi-user.target
